<div class="container-fluid">
  @if (successMessage) {
  <div class="slide-notice">
    {{ successMessage }}
  </div>
  } @if (error) {
  <div class="alert alert-danger text-center mt-3">
    {{ error }}
  </div>
  }

  <div class="guesthouse-container mt-3 p-3">
    <h4 class="mb-3">Select Guesthouse to see rooms:</h4>

    <div class="guesthouse-list">
      @for (gh of guesthouses; track gh.id) {
      <button class="btn btn-outline-secondary guesthouse-btn" (click)="loadRooms(gh.id, gh.name)">
        {{ gh.name }}
      </button>
      }
    </div>
  </div>

  @if (!selectedGuesthouseId) {
  <!-- <div class="text-center text-muted py-4">Select a guesthouse to view its rooms.</div> -->

  } @else {

  <div class="rooms-container mt-4 p-3">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <button class="btn btn-primary btn-sm" (click)="onCreate()">
        <i class="bi bi-plus-circle"></i> Create Room
      </button>
    </div>

    @if (roomsLoading) {
    <div class="text-center py-4">
      <div class="spinner-border text-primary"></div>
      <p class="mt-2">Loading rooms...</p>
    </div>

    } @else if (rooms.length === 0) {

    <div class="text-center text-muted py-4">
      This guesthouse has no rooms yet. Use “Create Room” to add one.
    </div>

    } @else {

    <div class="table-responsive">
      <table class="table table-hover align-middle bg-white shadow-sm">
        <thead class="table-light">
          <tr class="border">
            <th>Name</th>
            <th>Beds</th>
            <th>Price</th>
            <th>Amenities</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          @for (room of rooms; track room.id) {
          <tr>
            <td>{{ room.name }}</td>
            <td>{{ room.numberOfBeds }}</td>
            <td>{{ room.price }} €</td>
            <td class="d-flex">
              @for (a of room.amenities; track a) {
              {{ getAmenityName(a) }}, &nbsp; }
            </td>
            <td>
              <button class="btn btn-primary btn-sm me-2" (click)="onEdit(room)">
                <i class="bi bi-pencil"></i>
              </button>

              <button class="btn btn-danger btn-sm" (click)="onDelete(room)">
                <i class="bi bi-trash3"></i>
              </button>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    }
  </div>
  }
</div>
