@if (loading) {
<div class="modal-body text-center">Loading...</div>
} @else if (error) {
<div class="modal-body text-danger text-center">
  {{ error }}
</div>
} @else {

<form [formGroup]="form">
  @if (mode === 'edit') {

  <div class="modal-header">
    <h5 class="modal-title">Guesthouse Details</h5>
    <button class="btn-close" (click)="onCancel()"></button>
  </div>

  <div class="modal-body">
    <div class="mb-3">
      <label class="form-label">Name</label>
      <input class="form-control" formControlName="name" />

      @if(nameIsInvalid){
      <div class="invalid-feedback d-block">
        <p class="control-error">Max length is 20 and min length is 3</p>
      </div>
      }
    </div>

    <div class="mb-3">
      <label>Description</label>
      <textarea class="form-control" formControlName="description"></textarea>

      @if(descriptionIsInvalid){
      <div class="invalid-feedback d-block">
        <p class="control-error">Max length is 60 and min length is 10</p>
      </div>
      }
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="onCancel()">Cancel</button>
    <button class="btn btn-primary" (click)="onSave()">Save</button>
  </div>

  } @else if (mode === 'create') {

  <div class="mb-3">
    <label><span class="required">* </span>Name: </label>
    <input class="form-control" formControlName="name" />

    @if(nameIsInvalid){
    <div class="invalid-feedback d-block">
      <p class="control-error">Max length is 20 and min length is 3</p>
    </div>
    }
  </div>

  <div class="mb-3">
    <label><span class="required">*</span> Description:</label>
    <textarea class="form-control" formControlName="description"></textarea>

    @if(descriptionIsInvalid){
    <div class="invalid-feedback d-block">
      <p class="control-error">Max length is 60 and min length is 10</p>
    </div>
    }
  </div>

  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="onCancel()">Cancel</button>
    <button class="btn btn-primary" [disabled]="form.invalid" (click)="onCreate()">Create</button>
  </div>

  }
</form>

@if (mode === 'delete') {

<div class="modal-header">
  <h5 class="modal-title">Delete Guesthouse</h5>
  <button class="btn-close" (click)="onCancel()"></button>
</div>

<div class="modal-body">
  <p>
    Are you sure you want to delete
    <strong>{{ guesthouseName }}</strong
    >?
  </p>
</div>

<div class="modal-footer">
  <button class="btn btn-secondary" (click)="onCancel()">Cancel</button>

  <button class="btn btn-danger" (click)="onDelete()">Delete</button>
</div>

} }
