.nav-link.active {
  font-weight: bold;
  color: #d9534f !important;
}

.navbar-brand {
  color: #c2b7ac !important;
}

.navbar {
  background: #ffffff !important;
  border-bottom: 1px solid #d1d5db;
  color: #111827;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.main-content {
  flex: 1;
}

/* html,
body {
  height: 100%;
  margin: 0;
}

.app-root {
  display: block;
  min-height: 100%;
}

.main-content {
  min-height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
} */

.app-footer {
  background-color: #e9e9e9 !important;
  font-family: 'Inter', sans-serif;
  color: #333;
  margin-top: 10px !important;
  /* border: none !important; */

  /* height: 90px;
  overflow: hidden;
  transition: height 0.5s ease;
  cursor: pointer; */
  height: 70px; /* collapsed height */
  overflow: hidden; /* hide content */
  transition: height 0.5s ease;
  cursor: pointer;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.app-footer:hover {
  height: 325px;
}
.app-footer .container {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  transition: opacity 0.4s ease;
}
.app-footer h3 {
  opacity: 1 !important;
  visibility: visible !important;
  margin-top: 20px;
  font-size: 15px !important;
}
.app- .app-footer:not(:hover) .footer-text,
.app-footer:not(:hover) .footer-list,
.app-footer:not(:hover) .copyright,
.app-footer:not(:hover) .row > div p,
.app-footer:not(:hover) .row > div ul {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}
.app-footer:hover .footer-text,
.app-footer:hover .footer-list,
.app-footer:hover .copyright {
  opacity: 1;
  visibility: visible;
}
.app-footer .row > div {
  padding-top: 0 !important;
  margin-top: 0 !important;
}

.footer-text {
  max-width: 220px;
  margin: 0 auto;
  text-align: left;
  line-height: 1.6;
  color: #555;
  font-size: 14px !important;
  text-align: justify;
  hyphens: auto;
}

.footer-list li {
  margin-bottom: 20px;
  color: #555;
  text-align: center;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-size: 14px !important;
}

.footer-list {
  padding: 0;
  margin: 0;
}
.footer-link {
  text-decoration: none;
  color: #222;
  transition: 0.2s ease;
}

.footer-link:hover {
  color: #555;
}
.app-footer .row > div {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.app-footer .row {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}
.copyright {
  margin-top: 30px !important;
  padding-top: 0 !important;
  font-size: 13px;
}
